{
  "phys": [
    {
      "phy_id": 1,
      "name": "phy1",
      "address": "1",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy1_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio0_0_0/0"
    },
    {
      "phy_id": 2,
      "name": "phy2",
      "address": "2",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy2_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio1_0_0/0"
    },
    {
      "phy_id": 3,
      "name": "phy3",
      "address": "3",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy3_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio2_0_0/0"
    },
    {
      "phy_id": 4,
      "name": "phy4",
      "address": "4",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy4_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio3_0_0/0"
    },
    {
      "phy_id": 5,
      "name": "phy5",
      "address": "5",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy5_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio4_0_0/0"
    },
    {
      "phy_id": 6,
      "name": "phy6",
      "address": "6",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy6_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio5_0_0/0"
    },
    {
      "phy_id": 7,
      "name": "phy7",
      "address": "7",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy7_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio6_0_0/0"
    },
    {
      "phy_id": 8,
      "name": "phy8",
      "address": "8",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy8_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio7_0_0/0"
    },
    {
      "phy_id": 9,
      "name": "phy9",
      "address": "9",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy9_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio8_0_0/0"
    },
    {
      "phy_id": 10,
      "name": "phy10",
      "address": "10",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy10_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio9_0_0/0"
    },
    {
      "phy_id": 11,
      "name": "phy11",
      "address": "11",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy11_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio10_0_0/0"
    },
    {
      "phy_id": 12,
      "name": "phy12",
      "address": "12",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy12_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio11_0_0/0"
    },
    {
      "phy_id": 13,
      "name": "phy13",
      "address": "13",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy13_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio12_0_0/0"
    },
    {
      "phy_id": 14,
      "name": "phy14",
      "address": "14",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy14_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio13_0_0/0"
    },
    {
      "phy_id": 15,
      "name": "phy15",
      "address": "15",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy15_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio14_0_0/0"
    },
    {
      "phy_id": 16,
      "name": "phy16",
      "address": "16",
      "lib_name": "",
      "firmware_path": "/usr/etc/credo/firmware/SE_LR",
      "config_file": "/usr/share/sonic/hwsku/phy16_config.json",
      "sai_init_config_file": "",
      "phy_access": "mdio",
      "bus_id": 0,
      "context_id": 1,
      "macsec_supported": false,
      "macsec_ipg": 352,
      "hwinfo": "mdio15_0_0/0"
    }
  ],
  "interfaces": [
{% for intf_config in gearbox_intf_config %}    {
      "name": "{{ intf_config.name }}",
      "index": {{ intf_config.index }},
      "phy_id": {{ intf_config.phy_id }},
      "system_lanes": [
{% for lane in intf_config.system_lanes %}        {{ lane }}{% if not loop.last %},{%- endif %}
{% endfor %}      ],
      "line_lanes": [
{% for lane in intf_config.line_lanes %}        {{ lane }}{% if not loop.last %},{%- endif %}
{% endfor %}      ]
{% if loop.last %}    }
{% else %}    },
{% endif -%}    
{% endfor %}  ]
}
