- bus: '00'
  dev: '00'
  fn: '0'
  id: '14d8'
  name: 'Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge Root Complex'
- bus: '00'
  dev: '00'
  fn: '2'
  id: '14d9'
  name: 'IOMMU: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge IOMMU'
- bus: '00'
  dev: '01'
  fn: '0'
  id: '14da'
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge Dummy Host Bridge'
- bus: '00'
  dev: '01'
  fn: '1'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '01'
  fn: '2'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '01'
  fn: '3'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '01'
  fn: '4'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '01'
  fn: '5'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '02'
  fn: '0'
  id: '14da'
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge Dummy Host Bridge'
- bus: '00'
  dev: '02'
  fn: '1'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '02'
  fn: '2'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '03'
  fn: '0'
  id: '14da'
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge Dummy Host Bridge'
- bus: '00'
  dev: '04'
  fn: '0'
  id: '14da'
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge Dummy Host Bridge'
- bus: '00'
  dev: '08'
  fn: '0'
  id: '14da'
  name: 'Host bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge Dummy Host Bridge'
- bus: '00'
  dev: '08'
  fn: '1'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '08'
  fn: '3'
  id: '14db'
  name: 'PCI bridge: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge GPP Bridge'
- bus: '00'
  dev: '14'
  fn: '0'
  id: '790b'
  name: 'SMBus: Advanced Micro Devices, Inc. [AMD] FCH SMBus Controller (rev 71)'
- bus: '00'
  dev: '14'
  fn: '3'
  id: '790e'
  name: 'ISA bridge: Advanced Micro Devices, Inc. [AMD] FCH LPC Bridge (rev 51)'
- bus: '{{nvme_bus}}'
  dev: '00'
  fn: '0'
  id: 110b
  name: 'Non-Volatile memory controller: ATP ELECTRONICS INC Device 110b (rev 03)'
- bus: '{{mgmt_nic_bus}}'
  dev: '00'
  fn: '0'
  id: 12c0
  name: 'Ethernet controller: Aquantia Corp. AQtion AQC115C NBase-T/IEEE 802.3bz Ethernet Controller (rev 03)'
- bus: '{{cpu_card_fpga_bus}}'
  dev: '00'
  fn: '0'
  id: '7016'
  name: 'Serial controller: Xilinx Corporation Device'
- bus: '{{switchcard_fpga_0_bus}}'
  dev: '00'
  fn: '0'
  id: '7018'
  name: 'Serial controller: Xilinx Corporation Device 7015'
- bus: '{{switchcard_fpga_1_bus}}'
  dev: '00'
  fn: '0'
  id: '7019'
  name: 'Serial controller: Xilinx Corporation Device 7015'
- bus: '{{asic_0_bus}}'
  dev: '00'
  fn: '0'
  id: f910
  name: 'Ethernet controller: Broadcom Inc. and subsidiaries BCM78910 Switch ASIC
    [Tomahawk6] (rev 11)'
- bus: '{{amd_soc_group_0_bus}}'
  dev: '00'
  fn: '2'
  id: '1649'
  name: 'Encryption controller: Advanced Micro Devices, Inc. [AMD] Family 19h PSP/CCP'
- bus: '{{amd_soc_group_0_bus}}'
  dev: '00'
  fn: '3'
  id: '15b6'
  name: 'USB controller: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge USB 3.1 xHCI'
- bus: '{{amd_soc_group_0_bus}}'
  dev: '00'
  fn: '4'
  id: '15b7'
  name: 'USB controller: Advanced Micro Devices, Inc. [AMD] Raphael/Granite Ridge USB 3.1 xHCI'

