{% for ip in DNS_NAMESERVER|sort %}
nameserver {{ ip }}
{% endfor -%}

{%- if DNS_OPTIONS is defined and DNS_OPTIONS["GLOBAL"] is defined %}
{%   if DNS_OPTIONS["GLOBAL"]["search"] is defined %}
search {{ DNS_OPTIONS["GLOBAL"]["search"] | join(" ") }}
{%   endif %}
{%   set options="" %}
{%   if DNS_OPTIONS["GLOBAL"]["ndots"] is defined %}
{%     set options = options ~ ' ndots:' ~ DNS_OPTIONS["GLOBAL"]["ndots"] %}
{%   endif %}
{%   if DNS_OPTIONS["GLOBAL"]["timeout"] is defined %}
{%     set options = options ~ ' timeout:' ~ DNS_OPTIONS["GLOBAL"]["timeout"] %}
{%   endif %}
{%   if DNS_OPTIONS["GLOBAL"]["attempts"] is defined %}
{%     set options = options ~ ' attempts:' ~ DNS_OPTIONS["GLOBAL"]["attempts"] %}
{%   endif %}
{%   if options|length > 0 %}
options{{ options }}
{%   endif %}
{% endif -%}
