{% if DEVICE_METADATA.localhost.orch_northbond_dash_zmq_enabled != "false"  %}
DASH_VNET_TABLE
DASH_QOS_TABLE
DASH_ENI_TABLE
DASH_ACL_IN_TABLE
DASH_ACL_OUT_TABLE
DASH_ACL_GROUP_TABLE
DASH_ACL_RULE_TABLE
DASH_HA_SET_TABLE
DASH_HA_SCOPE_TABLE
DASH_PREFIX_TAG_TABLE
DASH_ROUTING_TYPE_TABLE
DASH_APPLIANCE_TABLE
DASH_ROUTE_TABLE
DASH_ROUTE_RULE_TABLE
DASH_VNET_MAPPING_TABLE
DASH_ENI_ROUTE_TABLE
DASH_ROUTE_GROUP_TABLE
DASH_TUNNEL_TABLE
DASH_PA_VALIDATION_TABLE
DASH_METER_POLICY_TABLE
DASH_METER_RULE_TABLE
DASH_ROUTING_APPLIANCE_TABLE
DASH_FLOW_SYNC_SESSION_TABLE
DASH_FLOW_DUMP_FILTER_TABLE
{% endif %}
{% if SYSTEM_DEFAULTS is defined and SYSTEM_DEFAULTS.swss_zmq is defined and SYSTEM_DEFAULTS.swss_zmq.status == "enabled"  %}
ROUTE_TABLE
LABEL_ROUTE_TABLE
{% endif %}
