# configuration item: the number of psus
# format: dev_num_[main_dev]_[minor_dev]
# main_dev: psu main_dev is 2
# minor_dev: psu minor_dev not exist(0)
dev_num_2_0=2

# Configuration items:	PSU PMBUS i2c device
# Description: Format other_i2c_dev_[main_dev]_[psu_index]
# Note:	main_dev, PSU is 2, psu_index starts from 5 for PMBUS path mapping
other_i2c_dev.bus_2_5=11
other_i2c_dev.addr_2_5=0x58
other_i2c_dev.bus_2_6=10
other_i2c_dev.addr_2_6=0x58

# Configuration items: PMBUS register address of PSU status word
# Description: Format psu_pmbus_reg_[psu_index]_[reg_id]
# Note: reg_id 9: output status(0x79), 10: input status(0x79)
psu_pmbus_reg.mode_1_9=config
psu_pmbus_reg.src_1_9=other_i2c
psu_pmbus_reg.frmt_1_9=byte
psu_pmbus_reg.pola_1_9=negative
psu_pmbus_reg.addr_1_9=0x02050079
psu_pmbus_reg.len_1_9=2
psu_pmbus_reg.bit_offset_1_9=

psu_pmbus_reg.mode_2_9=config
psu_pmbus_reg.src_2_9=other_i2c
psu_pmbus_reg.frmt_2_9=byte
psu_pmbus_reg.pola_2_9=negative
psu_pmbus_reg.addr_2_9=0x02060079
psu_pmbus_reg.len_2_9=2
psu_pmbus_reg.bit_offset_2_9=

psu_pmbus_reg.mode_1_10=config
psu_pmbus_reg.src_1_10=other_i2c
psu_pmbus_reg.frmt_1_10=byte
psu_pmbus_reg.pola_1_10=negative
psu_pmbus_reg.addr_1_10=0x02050079
psu_pmbus_reg.len_1_10=2
psu_pmbus_reg.bit_offset_1_10=

psu_pmbus_reg.mode_2_10=config
psu_pmbus_reg.src_2_10=other_i2c
psu_pmbus_reg.frmt_2_10=byte
psu_pmbus_reg.pola_2_10=negative
psu_pmbus_reg.addr_2_10=0x02060079
psu_pmbus_reg.len_2_10=2
psu_pmbus_reg.bit_offset_2_10=


# configuration item: psu status
# format: psu_status_[psu_index]_[status_id]
# psu_index: start from 1
# status_id: 0: presence 1: output 2: alert
# psu2 presence status
psu_status.mode_2_0=config
psu_status.src_2_0=cpld
psu_status.frmt_2_0=bit
psu_status.pola_2_0=negative
psu_status.addr_2_0=0x00030042
psu_status.len_2_0=1
psu_status.bit_offset_2_0=0

# psu2 output status
psu_status.mode_2_1=config
psu_status.src_2_1=cpld
psu_status.frmt_2_1=bit
psu_status.pola_2_1=positive
psu_status.addr_2_1=0x00030066
psu_status.len_2_1=1
psu_status.bit_offset_2_1=0

# psu2 alert status
psu_status.mode_2_2=config
psu_status.src_2_2=cpld
psu_status.frmt_2_2=bit
psu_status.pola_2_2=negative
psu_status.addr_2_2=0x00030029
psu_status.len_2_2=1
psu_status.bit_offset_2_2=0

# psu1 presence status
psu_status.mode_1_0=config
psu_status.src_1_0=cpld
psu_status.frmt_1_0=bit
psu_status.pola_1_0=negative
psu_status.addr_1_0=0x00030042
psu_status.len_1_0=1
psu_status.bit_offset_1_0=1

# psu1 output status
psu_status.mode_1_1=config
psu_status.src_1_1=cpld
psu_status.frmt_1_1=bit
psu_status.pola_1_1=positive
psu_status.addr_1_1=0x00030066
psu_status.len_1_1=1
psu_status.bit_offset_1_1=1

# psu1 alert status
psu_status.mode_1_2=config
psu_status.src_1_2=cpld
psu_status.frmt_1_2=bit
psu_status.pola_1_2=negative
psu_status.addr_1_2=0x00030029
psu_status.len_1_2=1
psu_status.bit_offset_1_2=1

# Configuration items:	Address of psu pmbus sysfs
# Description: Format hwmon_psu_[psu_index]_[config_id]
# Note:	psu_index:Power supply number,start with 1 config_id 27:pmbus status reg
hwmon_psu.mode_1_27=config
hwmon_psu.int_cons_1_27=0
hwmon_psu.src_1_27=file
hwmon_psu.frmt_1_27=buf
hwmon_psu.fpath_1_27=/sys/bus/i2c/devices/11-0058/hwmon/
hwmon_psu.addr_1_27=0
hwmon_psu.len_1_27=16
hwmon_psu.bit_offset_1_27=
hwmon_psu.str_cons_1_27=status0

hwmon_psu.mode_2_27=config
hwmon_psu.int_cons_2_27=
hwmon_psu.src_2_27=file
hwmon_psu.frmt_2_27=buf
hwmon_psu.fpath_2_27=/sys/bus/i2c/devices/10-0058/hwmon/
hwmon_psu.addr_2_27=0
hwmon_psu.len_2_27=16
hwmon_psu.bit_offset_2_27=
hwmon_psu.str_cons_2_27=status0
